
body {
    margin: 0;
    padding: 60px 0 0 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    color: #303846;
    background-color: #ffffff;
    background-position: center;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.main-header {
    display: flex;
    z-index: 2;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 0 20px;
    width: 100%;
    min-height: 60px;
}
.fixed-header {
    position: fixed;
}
.color-header {
    background-color: #ffffff;
}
.logo-small p {
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}
.site-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-navigation a {
    font-weight: bold;
    font-size: 14px;
    font-stretch: normal;
    padding-right: 15px;
    color: #303846;
}
.logo-small {
    display: flex;
    justify-content: center;
    align-items: center;
}
.depiction {
    background-image: url("../images/banner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-clip:content-box
}
.fd-column {
    flex-direction: column;
}
.title {
    font-size: 38px;
    font-weight: bold;
    margin: 30px 0 0 0;
    color: #ffffff;
}
.depiction p {
    color: #ffffff;
}
.btn {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    text-align: center;
    display: inline-block;
    padding: 5px;
    border-radius:10px;
    border: 2px solid #ffffff;
}
.btn-transparent {
    color: #ffffff;
    background-color: transparent;
}

/*-----advantages----*/
.container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
    padding: 40px 0;
}
.jc-center {
    justify-content: center;
}
.ai-center {
    align-items: center;
}
.jc-space-around {
    justify-content: space-around;
}
.width-280 {
    width: 280px;
}
h2 {
    font-size: 34px;
    margin-bottom: 10px;
}
.bc-grey {
    background-color: #f7f7f7;
}
.width-470 {
    width: 470px;
}

/*------form-----*/

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fieldset-parameter {
    margin-bottom: 20px;
    width: 380px;
}
.fieldset-border {
    border-color: #0ac7b8;
}
.fieldset-parameter legend {
    font-size: 20px;
    font-weight: bold;
    color: #0adacb;
}
.fieldset-parameter label {
    display: inline-block;
    width: 180px;
    font-weight: bold;
    margin: 10px 0;
}
.fieldset-parameter select {
    width: 140px;
    height: 30px;
    font-size: 13px;
    padding-left: 7px;
    background-color: #ffffff;
    border: 1.2pt solid #d3d3d3;
    border-radius: 10px;
}
.fieldset-parameter option {
    font-size: 14px;
}
.fieldset-parameter input {
    width: 180px;
    height: 25px;
    border: 1.2pt solid #d3d3d3;
    border-radius: 10px;
    background-color: #ffffff;
}
.btn-form {
    padding: 10px 25px;
    align-self: flex-start;

}
.btn-green {
    color: #0adacb;
    border: 2px solid #0adacb;
    background-color: #ffffff;
}
/*-----footer----*/
.back-color {
    background-color: #303846;
}
.jc-space-between {
    justify-content: space-between;
}
.c-white {
    color: #ffffff;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.footer-information p {
    font-size: 18px;
    font-weight: bold;
}
.footer-information ul {
    font-size: 12px;
    font-weight: bold;
}
.footer-logo span {
    font-size: 12px;
    padding: 10px;
    color: darkgrey;
}

